{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",

    "importOrder": ["^react", "^@?\\w", "^@/(.*)", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,

    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
